Repository hmcts/azure-enterprise, pull requests merged in 2022-12, with the labels that each got.

#63 fix: tweak archiving subs
  .terraform-version
  components/enterprise/provider.tf
  components/video-hearings/provider.tf
  environments/prod/prod.tfvars
  modules/environments/provider.tf
  modules/subscription/provider.tf
Labels: sandbox-enterprise/no-changes, prod-video-hearings/no-changes, prod-enterprise/destroy

#66 Update azure-pipelines.yml
  azure-pipelines.yml
Labels: sandbox-enterprise/no-changes, prod-enterprise/add-or-update, prod-video-hearings/no-changes

#64 DTSPO-11720 Skip Prevent Parallel Runs when running terraform plans
  azure-pipelines.yml
Labels: sandbox-enterprise/no-changes, prod-enterprise/add-or-update, prod-video-hearings/no-changes

#67 DTSPO-11790 - add expiresAfter tag
  components/enterprise/environments.tf
  components/enterprise/subscriptions.tf
  components/enterprise/variables.tf
  components/video-hearings/environments.tf
  components/video-hearings/subscriptions.tf
  components/video-hearings/variables.tf
Labels: sandbox-enterprise/add-or-update, prod-enterprise/add-or-update, prod-video-hearings/no-changes
