Repository hmcts/azure-enterprise, pull requests merged in 2022-11, with the labels that each got.

#55 DTSPO-11030 - add production subscriptions ready for importing
  environments/prod/prod.tfvars
Labels: sandbox-enterprise/no-changes, requires-approval-from-head-of-platform-operations, prod-video-hearings/no-changes, prod-enterprise/destroy

#57 DTSPO-11030 Import unassigned subscriptions to -NonProd
  environments/prod/prod.tfvars
  scripts/subscriptions.json.example
Labels: sandbox-enterprise/no-changes, prod-enterprise/add-or-update, requires-approval-from-head-of-platform-operations, prod-video-hearings/no-changes

#58 Dtspo 11030 import unassigned subscriptions to terraformstate non prod
  environments/prod/prod.tfvars
  scripts/terraform-import.sh
Labels: sandbox-enterprise/no-changes, requires-approval-from-head-of-platform-operations, prod-video-hearings/no-changes, prod-enterprise/destroy

#56 DTSPO-9747 - Automate creation of mermaid diagram
  .github/workflows/create-mermaid-diagram.yml
  README.md
  scripts/create-mermaid-diagram.sh
Labels: sandbox-enterprise/no-changes, prod-enterprise/no-changes, requires-approval-from-head-of-platform-operations, prod-video-hearings/no-changes

#59 Remove duplicate subscription
  README.md
  environments/prod/prod.tfvars
Labels: sandbox-enterprise/no-changes, prod-enterprise/add-or-update, requires-approval-from-head-of-platform-operations, prod-video-hearings/no-changes

#60 DTSPO-9747 - update create mermaid diagram script
  README.md
  scripts/create-mermaid-diagram.sh
Labels: sandbox-enterprise/no-changes, prod-enterprise/no-changes, prod-video-hearings/no-changes
