Repository hmcts/azure-enterprise, pull requests merged in 2022-09, with the labels that each got.

#10 DTSPO-9745 Refactor structure
  components/enterprise/enterprise.tf
  components/enterprise/subscriptions.tf
  components/enterprise/variables.tf
  environments/prod/prod.tfvars
  environments/sandbox/sandbox.tfvars
  modules/subscription/main.tf
  modules/subscription/variables.tf
Labels: prod-uksouth-enterprise/no-changes, sandbox-uksouth-enterprise/no-changes

#11 DTSPO-9745 Add to rest of environments
  components/enterprise/enterprise.tf
  components/enterprise/subscriptions.tf
  components/enterprise/variables.tf
  environments/prod/prod.tfvars
  environments/sandbox/sandbox.tfvars
Labels: sandbox-uksouth-enterprise/add-or-update, prod-uksouth-enterprise/no-changes

#12 DTSPO-9745 Update documentation
  README.md
Labels: prod-uksouth-enterprise/no-changes, sandbox-uksouth-enterprise/no-changes

#13 DTSPO-9745 Add naming conventions tests
  .gitignore
  .pre-commit-config.yaml
  azure-pipelines.yml
  tests/namingConventions.test.js
  tests/package.json
  tests/yarn.lock
Labels: prod-uksouth-enterprise/no-changes, sandbox-uksouth-enterprise/no-changes

#17 DTSPO-9745 Require approval from head of platform operations
  .github/workflows/require-approval-for-new-subscription.yml
Labels: prod-uksouth-enterprise/no-changes, sandbox-uksouth-enterprise/no-changes, subscription-request-approved

#18 DTSPO-9919 Add bootstrap for management groups
  modules/enterprise/main.tf
  modules/management-group-bootstrap/contributors.tf
  modules/management-group-bootstrap/owner.tf
  modules/management-group-bootstrap/readers.tf
  modules/management-group-bootstrap/security-admins.tf
  modules/management-group-bootstrap/security-readers.tf
  modules/management-group-bootstrap/variables.tf
Labels: sandbox-uksouth-enterprise/add-or-update, prod-uksouth-enterprise/add-or-update

#20 Create subscription for demo
  environments/prod/prod.tfvars
Labels: sandbox-uksouth-enterprise/no-changes, prod-uksouth-enterprise/add-or-update, subscription-request-approved

#21 Fix tests to handle empty management groups
  tests/namingConventions.test.js
Labels: sandbox-uksouth-enterprise/no-changes, prod-uksouth-enterprise/add-or-update

#24 Cleanup VH tenant
  components/video-hearings/enterprise.tf
  components/video-hearings/subscriptions.tf
  components/video-hearings/variables.tf
  environments/prod/prod.tfvars
Labels: sandbox-enterprise/no-changes, prod-enterprise/add-or-update, subscription-request-approved, prod-video-hearings/no-changes

#25 DTSPO-9745 Docs for new tenant
  README.md
Labels: sandbox-enterprise/no-changes, prod-enterprise/add-or-update, prod-video-hearings/no-changes

#26 DTSPO-9745 Change SP to one with permission
  README.md
  azure-pipelines.yml
  components/enterprise/enterprise.tf
Labels: sandbox-enterprise/add-or-update, prod-enterprise/add-or-update, prod-video-hearings/no-changes

#9 DTSPO-9743 - Bootstrap migration
  README.md
  components/enterprise/environments.tf
  components/enterprise/locals.tf
  components/enterprise/provider.tf
  components/enterprise/subscriptions.tf
  components/enterprise/variables.tf
  components/video-hearings/locals.tf
  components/video-hearings/subscriptions.tf
  environments/sandbox/sandbox.tfvars
  modules/environments/azure_devops.tf
  modules/environments/data.tf
  modules/environments/groups.tf
  modules/environments/locals.tf
  modules/environments/outputs.tf
  modules/environments/provider.tf
  modules/environments/resource_group.tf
  modules/environments/service_plan.tf
  modules/environments/service_principal.tf
  modules/environments/variables.tf
  modules/subscription/azure_devops.tf
  modules/subscription/data.tf
  modules/subscription/groups.tf
  modules/subscription/keyvault.tf
  modules/subscription/locals.tf
  modules/subscription/main.tf
  modules/subscription/provider.tf
  modules/subscription/roles.tf
  modules/subscription/service_principal.tf
  modules/subscription/storage.tf
  modules/subscription/variables.tf
Labels: prod-enterprise/add-or-update, sandbox-enterprise/destroy, sandbox-uksouth-enterprise/add-or-update, prod-uksouth-enterprise/add-or-update, subscription-request-approved, prod-video-hearings/no-changes

#32 Add VH enrollment account
  components/video-hearings/subscriptions.tf
Labels: sandbox-enterprise/add-or-update, prod-enterprise/add-or-update, prod-video-hearings/no-changes

#35 Add environments to VH
  components/enterprise/environments.tf
  components/enterprise/variables.tf
  components/video-hearings/environments.tf
  components/video-hearings/variables.tf
  environments/prod/prod.tfvars
  modules/environments/azure_devops.tf
  modules/environments/data.tf
  modules/environments/variables.tf
Labels: sandbox-enterprise/add-or-update, prod-enterprise/add-or-update, requires-approval-from-head-of-platform-operations, prod-video-hearings/add-or-update

#34 Add VH subscription
  environments/prod/prod.tfvars
Labels: sandbox-enterprise/add-or-update, prod-enterprise/add-or-update, subscription-request-approved, prod-video-hearings/add-or-update
