Repository hmcts/azure-enterprise, pull requests merged in 2023-08, with the labels that each got.

#88 DTSPO-13833 updating pat-token to use SP-token
  azure-pipelines.yml
Labels: sandbox_enterprise/no-changes, prod_video_hearings/no-changes, prod_enterprise/no-changes

#89 Delete disabled subscription
  README.md
  environments/prod/prod.tfvars
Labels: requires-approval-from-head-of-platform-operations, sandbox_enterprise/no-changes, prod_video_hearings/no-changes, prod_enterprise/destroy

#90 Remove cancelled subscriptions
  README.md
  environments/prod/prod.tfvars
Labels: requires-approval-from-head-of-platform-operations, sandbox_enterprise/no-changes, prod_video_hearings/no-changes
