Repository hmcts/azure-enterprise, pull requests merged in 2023-07, with the labels that each got.

#85 Try fixing ptlsbox environment
  environments/prod/prod.tfvars
Labels: requires-approval-from-head-of-platform-operations, sandbox_enterprise/no-changes, prod_video_hearings/no-changes, prod_enterprise/destroy

#86 Remove deleted subscriptions
  README.md
  environments/prod/prod.tfvars
Labels: requires-approval-from-head-of-platform-operations, sandbox_enterprise/no-changes, prod_video_hearings/no-changes

#87 Script to remove old subscriptions from state
  README.md
Labels: sandbox_enterprise/no-changes, prod_video_hearings/no-changes, prod_enterprise/no-changes
